/* Цвет выделения для всех GTK-приложений, включая Chrome */
/*@define-color theme_selected_bg_color #FFB6C1;*/
@define-color theme_selected_bg_color #bd93f9;
@define-color theme_selected_fg_color #000000;

/* Дополнительное правило для принудительного выделения */
selection {
    background-color: #bd93f9;
    color: #000000;
}

/* Для текстовых полей */
entry selection {
    background-color: #bd93f9;
    color: #000000;
}
